p {
				color:#ff3333;
				font:Bold italic 25px Verdana;
				padding: 10px 40px;/* up left bottom right */
				background-color:black;
				width: 600px; 
				border: 15px groove #ff3333; 
				margin-left: 445px;
	} 

iframe {
	margin-left: 560px;
}

div{
	margin-left: 621px;
	
	}
body{
	background-image:url("walp.jpg");
    background-repeat:no-repeat;
    background-position: top center;
}
